*-----------------------------------------------------------------------------
* <Rating>-31</Rating>
*-----------------------------------------------------------------------------

    SUBROUTINE VAR.BILL.COLL.CLER.TT

    $INCLUDE T24.BP I_COMMON
    $INCLUDE T24.BP I_EQUATE
    $INCLUDE T24.BP I_F.BILL.REGISTER
    $INCLUDE TEMENOS.BP I_BR.LOCAL.REFS
    $INCLUDE T24.BP I_USER.ENV.COMMON
    $INCLUDE T24.BP I_F.ACCOUNT
    $INCLUDE T24.BP I_F.STMT.ENTRY
    $INCLUDE T24.BP I_F.CATEG.ENTRY
    $INCLUDE T24.BP I_F.CURRENCY
    $INCLUDE TEMENOS.BP I_F.SCB.BT.BATCH.TT

    FN.BR = 'FBNK.BILL.REGISTER' ;R.BR = ''; F.BR  = ''
    CALL OPF(FN.BR,F.BR)

    IF V$FUNCTION   = 'I' THEN
        DCOUNTBR.ID = ""
        NUMBERBR.ID = ""
        DCOUNTBR.ID = DCOUNT(R.NEW(BT.TT.OUR.REFERENCE),VM)
        FOR  NUMBERBR.ID = 1 TO DCOUNTBR.ID
            BR.ID = R.NEW(BT.TT.OUR.REFERENCE)<1,NUMBERBR.ID>
            CALL F.READ( FN.BR,BR.ID, R.BR, F.BR, ETEXT)

            GOSUB COLLECT.CR

        NEXT NUMBERBR.ID

        GOSUB COLLECT.DR

    END
    IF V$FUNCTION   = 'R' THEN
        DCOUNTBR.ID = ""
        NUMBERBR.ID = ""
        DCOUNTBR.ID = DCOUNT(R.NEW(BT.TT.OUR.REFERENCE),VM)
        FOR  NUMBERBR.ID = 1 TO DCOUNTBR.ID
            BR.ID = R.NEW(BT.TT.OUR.REFERENCE)<1,NUMBERBR.ID>
            CALL F.READ( FN.BR,BR.ID, R.BR, F.BR, ETEXT)

            GOSUB COLLECT.REV.DR

        NEXT NUMBERBR.ID
        GOSUB COLLECT.REV.CR
    END

    RETURN
*---------
COLLECT.CR:
*---------
    CURR =   R.BR<EB.BILL.REG.CURRENCY>
*----
* CR
*----
    Y.ACCT = R.NEW(BT.TT.CREDIT.ACCOUNT)<1,NUMBERBR.ID>
    Y.AMT  = R.NEW(BT.TT.BR.AMT)<1,NUMBERBR.ID>

    CALL DBR('ACCOUNT':@FM:AC.ACCOUNT.OFFICER,Y.ACCT,ACC.OFFICER)

    CALL DBR('ACCOUNT':@FM:AC.CATEGORY,Y.ACCT,CATEG)
    GOSUB AC.STMT.ENTRY

    RETURN

*---------
COLLECT.DR:
*---------
*----
* DR
*----
    Y.ACCT = R.NEW(BT.TT.DEBIT.ACCOUNT)
    Y.AMT  = R.NEW(BT.TT.TOTAL.DEBIT.AMT) * -1
    CALL DBR('ACCOUNT':@FM:AC.CATEGORY,Y.ACCT,CATEG)
    GOSUB AC.STMT.ENTRY

    RETURN
*------------
COLLECT.REV.CR:
*------------
    CURR =   R.BR<EB.BILL.REG.CURRENCY>
*----
* CR
*----


    Y.ACCT = R.NEW(BT.TT.DEBIT.ACCOUNT)
    Y.AMT  = R.NEW(BT.TT.TOTAL.DEBIT.AMT)
    CALL DBR('ACCOUNT':@FM:AC.CATEGORY,Y.ACCT,CATEG)
    GOSUB AC.STMT.ENTRY

    RETURN
*------------
COLLECT.REV.DR:
*------------
*----
* DR
*----
    Y.ACCT = R.NEW(BT.TT.CREDIT.ACCOUNT)<1,NUMBERBR.ID>
    Y.AMT  = R.NEW(BT.TT.BR.AMT)<1,NUMBERBR.ID> * -1
    CALL DBR('ACCOUNT':@FM:AC.CATEGORY,Y.ACCT,CATEG)
    GOSUB AC.STMT.ENTRY

    RETURN
*--------------------------------
AC.STMT.ENTRY:
***********************************************************
*  Build base STMT.ENTRY entry fields.                    *
***********************************************************
*
    ENTRY = ""
    MULTI.ENTRIES = ""

*
    ENTRY<AC.STE.ACCOUNT.NUMBER>   = Y.ACCT
    ENTRY<AC.STE.COMPANY.CODE>     = ID.COMPANY
    ENTRY<AC.STE.TRANSACTION.CODE> = '856'
    ENTRY<AC.STE.THEIR.REFERENCE>  = BR.ID
    ENTRY<AC.STE.TRANS.REFERENCE>  = BR.ID
    ENTRY<AC.STE.NARRATIVE>        = ""
    ENTRY<AC.STE.PL.CATEGORY>      = ""
    ENTRY<AC.STE.AMOUNT.LCY>       = Y.AMT
    ENTRY<AC.STE.ACCOUNT.OFFICER>  = ACC.OFFICER
    ENTRY<AC.STE.PRODUCT.CATEGORY> = CATEG
    ENTRY<AC.STE.VALUE.DATE>       = TODAY
    ENTRY<AC.STE.CURRENCY>         = CURR
    ENTRY<AC.STE.AMOUNT.FCY>       = ""
    ENTRY<AC.STE.EXCHANGE.RATE>    = ""
    ENTRY<AC.STE.POSITION.TYPE>    = 'TR'
    ENTRY<AC.STE.CURRENCY.MARKET>  = '1'
    ENTRY<AC.STE.DEPARTMENT.CODE>  = "1"
    ENTRY<AC.STE.SYSTEM.ID>        = "SYS"
    ENTRY<AC.STE.BOOKING.DATE>     = TODAY
    ENTRY<AC.STE.CRF.TYPE>         = ""
    ENTRY<AC.STE.CRF.TXN.CODE>     = ""
    ENTRY<AC.STE.CRF.MAT.DATE>     = ""
    ENTRY<AC.STE.CHQ.TYPE>         = ""
    ENTRY<AC.STE.CHEQUE.NUMBER>    = ""
    ENTRY<AC.STE.CUSTOMER.ID>      = ""
    ENTRY<AC.STE.OUR.REFERENCE>    = BR.ID

    MULTI.ENTRIES<-1> = LOWER(ENTRY)
    TYPE = 'SAO'
    CALL EB.ACCOUNTING("SYS",TYPE,MULTI.ENTRIES,"")

    RETURN
END
